@tailwind base;

a {
    @apply underline;
}

@tailwind components;

.btn {
    @apply bg-red-dark text-white underline uppercase px-3 py-2 font-bold border-2 ;

}

.station-name {
    @apply text-lg p-3 text-black no-underline border-b-2 border-black uppercase;
}

.station-name:hover {
    @apply font-bold;
}

@tailwind utilities;

@font-face {
    font-family: 'Formata';
    font-weight: 400;
    src: url('./fonts/formata/formata-regular.ttf');
  }